<%- include('../partials/header.ejs') %>
<h1>Lista de autores</h1>
<a href="http://localhost:8000/authors/create">+ Nuevo autor</a>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Fecha de nacimiento</th>
      <th>Fecha de defunción</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>

  <tbody>
    <% for(const author of authors) { %>

    <tr>
      <td><%= author.id %></td>

      <td><%= author.name %></td>

      <td><%= author.dateOfBirth %></td>

      <td><%= author.dateOfDeath %></td>

      <td>
        <a href="http://localhost:8000/authors/get/<%= author.id %>">
          Editar
        </a>
      </td>

      <td>
        <button type="submit">Eliminar</button>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>

<%- include("../partials/footer.ejs") %>
